<div class="top-nav__mobile-bar">
  <button class="top-nav__toggle" onclick={{action 'toggleMenu'}}>{{fa-icon "bars"}}</button>
  <h1 class="top-nav__mobile-brand">{{link-to "lesson planner" "index"}}</h1>
</div>
<ul class="yg-container top-nav__list">
  <li class="top-nav__brand">{{link-to "lesson planner" "index"}}</li>

  <li>{{link-to "home" "index" class="top-nav__link"}}</li>

  {{#if session.isAuthenticated}}
    <li>{{link-to "logout" "logout" class="top-nav__link"}}</li>
  {{else}}
    <li>{{link-to "login" "login" class="top-nav__link"}}</li>
  {{/if}}
</ul>
